<!-- firehose track 7, step 3 - file created 20 jul 17 for solo GenET project landing page -->
<!-- this file is the view for the index action -->

<!-- hero div added 23 jul 17 for hero section (step 7) -->
<div class="hero">                          <!-- hero box -->
<br />
  <div class="frosty col-10 offset-1 text-center">      <!-- semi-transparent box, takes up 10/12 of screen width, 1 col in from sides, text centered inside it -->
    <br />
    <h1>GenerationET</h1>
    <br />
    <h2>Mapping Our Family History</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<!-- feature columns added 23 jul 17 for finishing landing page (step 8) -->
<br />
<div class="row feature text-center">       <!-- row is bootstrap class -->
  <div class="col-12 col-sm">
    <h3>Trace Our Family History</h3>
    <br />
    <p>...</p>
    <br />
    
<!-- next 8 lines added 3 aug 17 to list all people's first/last names on landing page (for now) (step 18) -->
<!-- *** need to change so only authenticated users can see only people they've created on a separate page, and unauthenticated/other authenticated users can't see them *** -->
    <% @people.each do |person| %>
      <div>
        <h3><%= link_to person.first_name + " " + person.last_name, person_path(person) %></h3>
        <br />
      </div>
    <% end %>
    
  </div>

  <div class="col-12 col-sm">
    <h3>Learn More About Your Lineage</h3>
    <br />
    <p>...</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Find Unknown Relatives</h3>
    <br />
    <p>...</p>
  </div>
</div>
