<!-- firehose track 7, step 3 - file created 20 jul 17 for solo GenET project landing page -->
<!-- this file is the view for the index action -->

<!-- hero div added 23 jul 17 for hero section (step 7) -->
<div class="hero">                          <!-- hero box -->
<br />
  <div class="frosty col-10 offset-1 text-center">      <!-- semi-transparent box, takes up 10/12 of screen width, 1 col in from sides, text centered inside it -->
    <br />
    <h1>GenerationET</h1>
    <br />
    <h2>Mapping Our Family History</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
