<!-- firehose track 7, step 18 - file created 3 aug 17 for solo GenET project person details page -->

<div class="booyah-box col-10 offset-1">
  <h1><%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %></h1>
</div>