// firehose track 7, step 4 - file created 20 jul 17 for solo GenET project adding bootstrap
// stylesheet to add the bootstrap imports in

@import "bootstrap";

// added 21 jul 17 for styling nav bar (step 6)
.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 10px 10px 5px #2a2a2a;
  background: image_url('topnav_cartographer_@2X.png');
}

// added 23 jul 17 for styling nav bar (step 6)
.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #A31F34;   // mit's official cardinal color
}

// added 23 jul 17 for hero section (step 7)
.hero {
  background: image_url('hero_paul-morris-144777.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

// added 23 jul 17 for hero section (step 7)
h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;                          // removes extra whitespace between hero section and top nav bar
}

// added 23 jul 17 for hero section (step 7)
.frosty {
  background: rgba(0, 0, 0, 0.5);    // semi-transparent box within hero box on landing page
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

// added 23 jul 17 for finishing landing page (step 8)
.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('background_cartographer_@2X.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: white;
}

// added 26 jul 17 for styling sign-in page (step 13)
.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
//    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}
