// firehose track 7, step 4 - file created 20 jul 17 for solo GenET project adding bootstrap
// stylesheet to add the bootstrap imports in

@import "bootstrap";

// added 21 jul 17 for styling nav bar (step 6)
.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 10px 10px 5px #2a2a2a;
  background: image_url('cartographer_@2X.png');
}

// added 23 jul 17 for styling nav bar (step 6)
.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #A31F34;   // mit's official cardinal color
}
